/* screen - contact */

.contact {
  align-items: flex-start;
  background-color: var(--background-color);
  display: flex;
  gap: 50px;
  height: 1080px;
  margin-top: 75px;
}

.contact .ui-expanding-container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 134px;
  margin-top: 81px;
  position: relative;
  width: 992px;
}

.contact .ui-expanding-container-item {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.contact .lets-connect-title {
  align-items: center;
  display: flex;
  left: 12px;
  top: 1px;
  width: 940px;
}

.contact .text {
  line-height: 27.5px;
  white-space: nowrap;
  width: fit-content;
}

.contact .lets-connect-rationale,
.contact .reach-out-rationale {
  align-items: flex-start;
  background-color: var(--background-color);
  flex: 0 0 auto;
  padding: 0px 10px;
  width: 992px;
}

.contact .text-1 {
  align-self: stretch;
  line-height: 20px;
  width: 953px;
}

.contact .spacer {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
}

.contact .frame-5 {
  background-color: var(--background-color);
  height: 50px;
  position: relative;
  width: 18px;
}

.contact .linkedin-action {
  align-items: center;
  display: flex;
  padding: 0px 10px;
}

.contact .linkedin-button {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 10px 9px;
  position: relative;
  text-decoration: none;
}

.contact .side-animation {
  height: 854px;
  object-fit: cover;
  position: relative;
  width: 264px;
}
