
<app-footer class="fade-in" ></app-footer>
<app-settings class="fade-in" ></app-settings>
<app-home class="fade-in" *ngIf="appServices.pageToDisplay === 'HOME'"></app-home>
<app-prototype class="fade-in" *ngIf="appServices.pageToDisplay === 'PROTOTYPES'"></app-prototype>
<app-showcase class="fade-in" *ngIf="appServices.pageToDisplay === 'SHOWCASE'"></app-showcase>
<app-about class="fade-in" *ngIf="appServices.pageToDisplay === 'ABOUT US'"></app-about>
<app-contact class="fade-in" *ngIf="appServices.pageToDisplay === 'CONTACT'"></app-contact>
