<div class="container-center-horizontal">
  <div class="showcase screen">
    <div class="ui-expanding-container">
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom ai-strategies-title ai-strategies rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">ProMatrix AI Strategies</div></div>
      </div>
      <div class="w3-animate-zoom ai-strategies-rationale ai-strategies rationale-component"  ><p class="text-1 text-2 roboto-normal-gravel-16px"><span class="roboto-normal-gravel-16px"  >Here is a few of ProMatrix Strategies that are already in production with 100% success. It's  amazing how much time and resources can be saved with automation, integration and Artifical  Intelligence.<br><br>These strategies were built on Google's AI services and APIs, and were  implemented using DialogFlox CX with the LLM was chosen from Google’s Model Garden. </span><span class="span1">Video: Software Development Strategy</span></p></div>
      <div class="spacer spacer-4">
        <div class="frame-5"></div>
      </div>
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom chatmate-title chatmate rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">ChatMate Integration</div></div>
      </div>
      <div class="chatmate-rationale chatmate">
        <div class="w3-animate-zoom chatmate-rationale-text roboto-normal-gravel-16px rationale-component"  >The motivation for designing ChatMate was to offer a low-cost solution for integrating a chatbot directlyinto the application frame.<br><br>And then top it off with voice-activated commands and you willapproach the future faster with more clarity.<br><br>The integration is simpler than most becaus e ofit uses DialogFlow CX and the LLMs that are part of the Google’s Model Garden.<br><br>It automaticallysolves customer issues with safe, accurate, conversational answers based solely on your support content.Customer care is the heart of any organization. <br><br>ChatMate offers multiple agents and reusable dialog flow throughout your enterprise.</div>
        <img class="chatmate-rationale-image w3-animate-zoom" src="img/dall-e-2024-04-27-17-39-46---create-a-wide-16-9-flat-panel-desig@2x.png" alt="chatmate-rationale-image">
      </div>
      <div class="spacer spacer-4">
        <div class="frame-5"></div>
      </div>
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom smart-build-title smart-build rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">Smart Build for Translations</div></div>
      </div>
      <div class="smart-build-rationale smart-build">
        <img class="smart-build-rationale-image w3-animate-zoom" src="img/smart-build-rationale-image@2x.png" alt="smart-build-rationale-image">
        <div class="w3-animate-zoom smart-build-rationale-text roboto-normal-gravel-16px rationale-component"  >Smart Build is designed to streamline numerous software development tasks.<br><br>A prime example isits ability to handle multiple language translations during the build process, allowing developers toimmediately see the results in action. This eliminates the need for real-time online translation, offeringsignificant cost savings by shifting translation tasks offline during the build phase.<br><br>ProMatrix introduces Smart Build specifically for enhancing translation processes in softwaredevelopment.</div>
      </div>
      <div class="spacer-1 spacer-4"></div>
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom help-system-title help-system rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">AI Help System</div></div>
      </div>
      <div class="help-system-rationale help-system">
        <div class="w3-animate-zoom help-system-rationale-text roboto-normal-gravel-16px rationale-component"  >Struggling with Support Overload?&nbsp;&nbsp;Let ProMatrix AI Help System handle your Help Desk usingDialogflow CX!<br><br>Reduced Costs:&nbsp;&nbsp;Lower support staff requirements and faster issueresolution lead to significant cost savings.<br>Improved Customer Satisfaction:&nbsp;&nbsp;Fasterresponse times and 24/7 availability&nbsp;&nbsp;keep customers happy.<br>IncreasedEfficiency:&nbsp;&nbsp;Free your team to focus on&nbsp;&nbsp;complex issues while AI handles routineinquiries.</div>
        <img class="help-system-rationale-image w3-animate-zoom" src="img/dall-e-2024-04-27-18-48-10---create-a-wide-16-9-flat-panel-desig@2x.png" alt="help-system-rationale-image">
      </div>
      <div class="spacer-2 spacer-4"></div>
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom hands-free-title hands-free rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">Hands-Free Apps</div></div>
      </div>
      <div class="hands-free-rationale hands-free">
        <img class="hands-free-rationale-image w3-animate-zoom" src="img/dall-e-2024-04-27-18-51-1@2x.png" alt="hands-free-rationale-image">
        <div class="w3-animate-zoom hands-free-rationale-text roboto-normal-gravel-16px rationale-component"  >&nbsp;&nbsp;Ditch the Buttons! Control your world with your voice using our AI-powered hands-free systembuilt by ProMatrix with Dialogflow CX.<br><br>Voice activated commands are the most important part ofHands-free application solutions.<br><br>ProMatrix offers the integration of Hand-Free Applicationsthat are relatively simple to implement, and because this is built with Dialogflow CX, it will:<br>Understandsnatural language<br>Learns your preferences<br>Works seamlessly with your other Hand-Free Applications</div>
      </div>
      <div class="spacer-3 spacer-4"></div>
      <div class="ui-expanding-container-item">
        <div class="w3-animate-zoom translation-agent-title translation-agent rationale-component"  ><div class="text text-2 neuropol-regular-normal-deep-cerulean-24px">Translation Agent</div></div>
      </div>
      <div class="translation-agent-rationale translation-agent">
        <div class="w3-animate-zoom translation-agent-rationale-text roboto-normal-gravel-16px rationale-component"  >Break Language Barriers. Connect Instantly. Speak Different Languages? Speak Freely! Talk naturally, andbe understood in real-time.<br><br>This solution will allow 2 or more people to communicate through alanguage translation virtual agent, in real-time.<br><br>This system is perfect for internationalmeetings for business or personal.<br><br>ProMatrix offers the Translation Agent that is relativelysimple to implement, and integrate directly into your software application.</div>
        <img class="translation-agent-rationale-image w3-animate-zoom" src="img/dall-e-2024-04-27-18-54-1@2x.png" alt="translation-agent-rationale-image">
      </div>
      <div class="ui-expanding-container-item"></div>
      <div class="ui-expanding-container-item"></div>
      <div class="ui-expanding-container-item"></div>
    </div>
    <div class="side-animation" [ngClass]="appServices.darkMode ? 'side-animation-model-dark' : 'side-animation-model-light'"></div>
  </div>
</div>